body {
    padding: 20px;
    color: rgb(200, 200, 200);
    background-color: rgb(16, 16, 16);
}

button {
    margin-right: 10px;
}

div.done {
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 10px;
}

div.not-done {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 10px;
}
